*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}

  
.swiperHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Henri Didot', sans-serif;
    justify-content: center;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}
#swiperMainHeading{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 4px;
}
.swiperHeadingText{
    font-size: 24px;
    font-weight: 400;
}       
.swiperContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.swiper {
    width: 100%;
    font-family: 'Henri Didot';
    letter-spacing: 0.1em;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    margin-top: 10px;
    overflow: hidden;
    width: 94%;
    height: 620px;
    max-width: 100%;
}

.newContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.innerContainer {
    width: 100%;
    border-radius: 7px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.innerContainer img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.innerContainer:hover img {
    transform: scale(1.05);
}

.innerContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.innerContainer:hover::after {
    opacity: 1;
}


.swiperHr{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: rgb(170, 165, 165);
    margin-bottom: 20px;
}


.newContainer div:nth-child(2) {
    width: full;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.newContainer p {
    color: grey;
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
    width: 100%;
}

.newContainer p:nth-child(4) {
    transform: translateY(-2px);
}

.newContainer div:nth-child(2) {
    margin-bottom: 4px;
}

.btn:active,
.btn:hover,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0;
}
.btn::before,
.btn::after {
    position: absolute;
    content: "";
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}

.btn-2::before {
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-out;
}

.btn-2 span {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn-2 span:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
}
.btn.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}

.btn.hover-slide-right:hover::before {
    width: 100%;
}


.btn-3::before {
    background-color: transparent;
    transition: 0.3s ease-out;
}

.btn-3 span {
    color: white;
    background-color: black;
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn-3 span:hover {
    color: black;
    background-color: transparent;
    transition: 0.2s 0.1s;
}


.imageSection{
    position: relative;
    overflow: hidden;
    color:white;
    margin-top: 50px;
    background-color: black;  
}
.imageGridContainer {
    display: grid;
    margin: 0;
    padding: 0 40px;
    max-width: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);   
    gap: 30px; 
}

.grid-item {
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd; 
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.btnContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;   
    gap:20px;
    box-sizing: border-box;
    padding: 0 20px;
}
.gridImageHeading{
    color : white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}
.btnContainer .btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
.WomenSection{
    font-family: 'Open Sans', sans-serif;   
    background-color: black;
    color: white;
    height: 100vh;
}
.WomenSectionContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    margin-top: 20px;
}
.newsletterSection{
    font-family: 'Henri Didot';
    letter-spacing: 0.1em;
}
.newsletterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.newsletterContainer h1{
    letter-spacing: 0.3em;
}
.newsletterFormInputContainer{
    width: 300px;
    height: 50px;
    border: 1px solid #ddd;
}
.newsletterFormInputContainer input{
    padding: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.newsletterFormContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.collectionContainer{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin: 0px 0;
    padding: 0 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.collectionContainer .grid-item {
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd; 
}

.collectionContainer .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.newsletterHeading{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.footerList li:hover{
    cursor: pointer;
    color: rgb(170, 21, 21);
    scale: 1.02;
    transition: ease .3s;
}

@media (max-width: 1200px) {
    .imageGridContainer {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, 1fr);
    }
    .imageGridContainer .grid-item:nth-child(9){
        display: none;
    }
}
.WomenSection #swiperMainHeading{
    font-size: 50px;
}

@media (max-width: 850px) {
    .imageGridContainer {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(8, 1fr);
    }
}
@media (max-width: 620px) {
    .WomenSectionContainer{
        margin-top: 20px;
    }
    .WomenSection #swiperMainHeading{
        font-size: 22px;
    }
    .WomenSection swiperHeadingText{
        font-size: 12px; 
        margin-bottom: 20px;
    }
    .collectionContainer #swiperMainHeading{
        font-size: 22px;
    }
    .collectionSection swiperHeadingText{
        font-size: 12px; 
    }
    .imageSection #swiperMainHeading{
        font-size: 22px;
    }
    .imageSection .swiperHeadingText{
        font-size: 12px; 
    }

    #women1{
        transform: translateY(-50px);
    }
}

@media (max-width: 1000px) {
    .mySwiper {
        width: 95%;
        height: 500px;
    }
    .newsletterFormContainer{
        flex-direction: column;
    }

    .innerContainer {
        height: 400px;
    }

    .innerContainer img {
        height: 400px;
    }

    .newContainer div:nth-child(2) {
        font-size: 14px;
    }

    .newContainer p {
        font-size: 10px;
    }
    #swiperMainHeading{
        font-size: 22px;
    }
    .swiperHeadingText{
        font-size: 12px;
    }
    .imageSection #swiperMainHeading{
        font-size: 22px;
    }
    .imageSection .swiperHeadingText{
        font-size: 12px;
    }

    .WomenSectionContainer {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
    }
    #women2{
        display: none;
    }
    #women3{
        display: none;
    }
}

@media (max-width: 500px) {
    .imageSection .swiperHeadingText{
        display: none;
    }
    .imageSection #swiperMainHeading{
        display: block;
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
  .swiper-slide {
    width: 80% !important;
    height: 400px;
  }
  .card {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
    .swiper-slide h1 {
        font-size: 12px;
    }

    .swiper-slide p {
        display: none;
    }
    .collectionContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
@media (max-width: 1200px) {
    .swiper-slide h1 {
        font-size: 12px;
    }

    .swiper-slide p {
        display: none;
    }
}
@media (max-width: 500px) {
    #swiperMainHeading  {
        font-size: 32px;
    }
    .swiperHeadingText{
        font-size: 16px;
    }
}

body {
    overflow-x: hidden;
}

.swiperContainer, .imageSection, .WomenSection, .newsletterSection, .collectionSection {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}



:root {
    --title-size: clamp(5rem, 7.5vw, 10rem);
    --white: #fcfcfc;
    --black: #09090B;
    --transparent: rgba(0, 0, 0, 0);
    --purple: #d7aefb;
    --orange: #fbbc04;
    --teal: #a7ffeb;
    --pink: #ff69b4;
    --red: #ff4500;
    --blue: #a7e2ff;
    --green: #c4ffa7;
    --yellow: #ffffa7;
    --gray-50: #FAFAFA;
    --gray-100: #F4F4F5;
    --gray-200: #E4E4E7;
    --gray-300: #D4D4D8;
    --gray-400: #A1A1AA;
    --gray-500: #71717A;
    --gray-600: #52525B;
    --gray-700: #3F3F46;
    --gray-800: #27272A;
    --gray-900: #18181B;
    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-4: 0.25rem;
    --size-8: 0.5rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-32: 2rem;
    --size-40: 2.5rem;
    --size-48: 3rem;
    --size-60: 3.75rem;
    --size-80: 5rem;
    --size-120: 7.5rem;
    --column-count: 12;
    --grid-main: repeat(var(--column-count), minmax(0, 1fr));
    --grid-flexible: repeat(auto-fit, minmax(20rem, 1fr));
    --grid-1: repeat(1, minmax(min-content, 1fr));
    --grid-2: repeat(2, minmax(min-content, 1fr));
    --grid-3: repeat(3, minmax(min-content, 1fr));
    --grid-4: repeat(4, minmax(min-content, 1fr));
    --grid-5: repeat(5, minmax(min-content, 1fr));
    --grid-6: repeat(6, minmax(min-content, 1fr));
    --grid-7: repeat(7, minmax(min-content, 1fr));
    --grid-8: repeat(8, minmax(min-content, 1fr));
    --grid-9: repeat(9, minmax(min-content, 1fr));
    --grid-10: repeat(10, minmax(min-content, 1fr));
    --grid-11: repeat(11, minmax(min-content, 1fr));
    --grid-12: repeat(12, minmax(min-content, 1fr));
    --span-full: 1 / -1;
    --span-1: span 1;
    --span-2: span 2;
    --span-3: span 3;
    --span-4: span 4;
    --span-5: span 5;
    --span-6: span 6;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    perspective: 600px;
}

img,
video,
picture {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--serif);
    line-height: 120%;
    letter-spacing: -0.1rem;
}

h1 {
    font-size: calc(var(--title-size) * 0.8);
}

h2 {
    font-size: calc(var(--title-size) * 0.65);
}

h3 {
    font-size: calc(var(--title-size) * 0.5);
}

h4 {
    font-size: calc(var(--title-size) * 0.4);
}

h5 {
    font-size: calc(var(--title-size) * 0.34);
}

h6 {
    font-size: calc(var(--title-size) * 0.3);
}

p {
    font-size: calc(var(--title-size) * 0.24);
    text-wrap: pretty;
}

.pad-xsmall {
    padding: var(--size-32) 0;
}

.pad-small {
    padding: var(--size-48) 0;
}

.pad-medium {
    padding: var(--size-60) 0;
}

.pad-large {
    padding: var(--size-80) 0;
}


.section {
    display: flex;
    justify-content: center;

    .container {
        width: 92%;
        max-width: 150rem;

    }
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    font-family: 'Dream Avenue', cursive;
    height: 60vh;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;

    .container {
        width: 60rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2 / span 1;
        grid-row: 1 / -1;
        h1 {
            text-align: center;
            letter-spacing: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            font-size: calc(var(--title-size) * 0.7);
        }
    }
}

.section-header {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 72vh;
    min-height: 45rem;
    overflow: hidden;
    .image-container,
    .metadata {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
    }

    .image-container {
        overflow: hidden;
        width: 100%;
    }

    img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .metadata {
        position: relative;
        color: var(--white);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 1rem; */
        perspective: 600;

        h2,
        p {
            text-shadow: 0.06rem 0.06rem 0 black;
            height: 100%;
        }

        h2 {
            text-transform: uppercase;
        }

    }
}

.content {
    width: 90%;
    max-width: 50rem;
    padding: 0rem 0;
    h3,
    p {
        font-weight: 300;
    }

    strong {
        font-size: calc(var(--title-size) * 0.28);
        line-height: 100%;
        font-family: var(--serif);
        font-weight: 300;
        color: var(--black);
    }

    .different {
        line-height: 110%;
        letter-spacing: 0.2rem;
        padding-left: 10vw;
        font-weight: 500;
        color: var(--gray-600);
    }

    .asset {
        display: inline-flex;
        width: 6rem;
        border-radius: 5rem;
        overflow: hidden;
        transform: translateY(1rem);
    }

    .indent {
        padding-left: 8vw;
        font-weight: 300;
    }

    .line {
        display: inline-flex;
        transform: translateY(-0.5rem);
        height: 0.125rem;
        width: 16vw;
        background: var(--gray-700);
    }


    .extreme-indent {
        padding-left: 20vw;
    }

    .serif {
        font-family: var(--serif);
    }

    .sans {
        font-family: var(--sans);
    }

    .caps {
        text-transform: uppercase;
        font-weight: 700;
    }


    .box {
        --size: min(90vw, 40rem);
        width: var(--size);
        height: var(--size);
    }

    h3 {
        margin: 6rem 0 1rem;
        color: var(--gray-500);
    }

    p {
        margin-bottom: 1rem;
        color: var(--gray-600);
    }
}
@media (max-width: 900px) {
    #lowerSection {
        transform: translateY(-100px);
    }
}