html{
  scroll-behavior: smooth;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.innerDivGap {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.whiteButton {
  width: fit-content;
  padding: 8px;
  background-color: black;
  font-weight: 300;
  color: white;
  border: 0.5px solid black;
  cursor: pointer;
}
.whiteButton:hover {
  background-color: rgba(119, 119, 119, 0.067);
  color: black;
}
.largeButton {
  padding: 12px;
  background-color: white;
  transition: 0.2s ease-in;
  border: 1px solid black;
  /* border-radius: 4px; */
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.largeButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


body {
  font-family: "Comfortaa", sans-serif;
  padding: 0;
  margin: 0;
}
.main {
  display: grid;
  padding: 24px;
  padding-bottom: 0;
  grid-template-columns: 44vw 24vw;
  justify-content: center;
  height: fit-content;
  gap: 4vw;
  margin-top: 2rem;
}



.swiperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.swiper {
  width: 100%;
  font-family: 'Henri Didot';
  letter-spacing: 0.1em;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  height: 620px;
}
newContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.innerContainer img {
  cursor: pointer;
  width: full;
  height: 500px;
  /* width: 600px; */
  object-fit: cover;
  transition: all 0.3s ease;
}

.innerContainer img:hover {
  transform: scale(1.05);
}
.newContainer div:nth-child(2) {
  width: full;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.newContainer p {
  color: grey;
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}

.newContainer p:nth-child(4) {
  transform: translateY(-2px);
}

.newContainer div:nth-child(2) {
  margin-bottom: 4px;
}
.mainImageContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 16% 84%;
  overflow: hidden;
}
.sideImageContainer {
  gap: 17px;
  display: flex;
  flex-direction: column;
}
.sideImageContainer img {
  width: 100%;
  border-radius: 0.4rem;
}
.productImage {
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}
.productImageMain {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}
@media (max-width: 1200px){
  .productImage:first-child{
    display: none;
  }
}
@media (max-width: 430px){
  .productImage:last-child{
    display: none;
  }
}


#infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 4;
}
.heading h2,
h3,
h6 {
  margin: 0;
}
.heading h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.heading h3 {
  color: red;
  font-size: 1.6rem;
}

.pincode input {
  padding: 12px;
  width: 70%;
  border-radius: 4px;
  border: 1px solid black;
}
.pincode :focus {
  outline: none;
}

.pincode button {
  height: 100%;
  padding: 12px 25px;
  background-color: black;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
}
.size {
  width: 60%;
}
.size div {
  display: flex;
  gap: 12px;
}
.size > div > div {
  min-width: 2.2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}
.sizeInfo:hover {
  background-color: rgba(119, 119, 119, 0.067);
}

.productGallaryContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
}


.lineBreaker {
  width: 12rem;
}

.rotate180 {
  transform: rotate(180deg);
}

.newDivHeading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* width: 100vw; */
  margin: 2rem 0%;
}

.bg-pattern {
  position: absolute;
  z-index: -100;
  top: 150%;
  scale: 1.9;
}

/* ***************************************************** */

/* NAVBAR  */

@font-face {
  font-family: 'Henri Didot';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/HENRIDIDOT.OTF') format('opentype');
}

@font-face {
  font-family: 'Vonique 64';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/VONIQUE64-JKGM.TTF') format('truetype');
}


.newUL li:not(:nth-child(9)):hover{
  border-bottom: 2px solid black;
  cursor: pointer;
  color : rgb(71, 67, 67);
}
.newUL li:nth-child(9):hover{
  border-bottom: 2px solid rgb(120, 21, 21);
  cursor: pointer;
  color : rgb(120, 21, 21);
}
.card1{
  transition: ease 1s;
}
.card1:hover{
  transition: ease .3s;
  transform: scale(1.02);
  border: 1px solid rgb(227, 226, 226);
  box-shadow: 20px 20px 2px rgba(53, 3, 26, 0.5);
}
.card1:hover .price{
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.card1:hover button{
  border-left:1px solid whitesmoke;
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.card2{
  transition: ease 1s;
}
.card2:hover{
  transition: ease .3s;
  transform: scale(1.02);
  border: 1px solid rgb(227, 226, 226);
  box-shadow: 20px 20px 2px rgba(53, 3, 26, 0.5);
}
.card2:hover .price{
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.card2:hover button{
  border-left:1px solid whitesmoke;
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.card3{
  transition: ease 1s;
}
.card3:hover{
  transition: ease .3s;
  transform: scale(1.02);
  border: 1px solid rgb(227, 226, 226);
  box-shadow: 20px 20px 2px rgba(53, 3, 26, 0.5);
}
.card3:hover .price{
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.card3:hover button{
  border-left:1px solid whitesmoke;
  transition: ease .3s;
  background-color: #402536;
  color : whitesmoke;
}
.siteButtons .btn{
  color: whitesmoke;
  border: 1px solid #A78048;
}
.footerList li{
  margin-top: 10px;   
}

/* navbar *************************** */
.dropdownList {
  display: inline-block;
  position: relative;
}
.dropdownList a {
  display: block;
  color:black;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dropdownList ul.dropdown li a{
  padding: 4px 4px;
  color: white;
  text-align: center;
}
.dropdownList ul.dropdown li {
  display: block;
  display: flex;
  justify-content: center;
  min-height: 50px;
}
.dropdownList ul.dropdown li a {
  width: 100%;
  align-items: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size:13px
}
.dropdownList ul.dropdown {
  width: 155px;
  transform: translateX(-15%);
  background: black;
  position: absolute;
  z-index: 999;
  display: none;
}
.dropdownList ul.dropdown li a:hover {
  background: #402536;
}
.dropdownList:hover ul.dropdown {
  display: block;
}
.hoverButton1{
  width: 100px;
  height: 40px;
  background-color: black;
  color: whitesmoke;
  transition: ease 0.5s;
  border-radius: 2px;
  border: 2px solid black;
}
.hoverButton1:hover{
  transition: ease .3s;
  transform: scale(1.02);
  color: black;
  background-color: whitesmoke;
}
.hoverButton2{
  width: 200px;
  height: 40px;
  background-color: black;
  color: whitesmoke;
  transition: ease 0.5s;
  border-radius: 2px;
  border: 2px solid black;
}
.hoverButton2:hover{
  transition: ease .3s;
  transform: scale(1.02);
  color: black;
  background-color: whitesmoke;
}

.dropdownList1 {
  display: inline-block;
  position: relative;
}
.dropdownList1 a {
  /* margin-right: 10px; */
  display: block;
  color:black;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}
.dropdownList1 ul.dropdown1 li a{
  color: white;
  text-align: center;
}
.dropdownList1 ul.dropdown1 li {
  display: block;
  display: flex;
  justify-content: center;
  min-height: 50px;
}
.dropdownList1 ul.dropdown1 li a {
  width: 220px;
  align-items: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size:13px
}
.dropdownList1 ul.dropdown1 {
  width: full;
  transform: translateX(-10%);
  background: black;
  position: absolute;
  z-index: 999;
  display: none;
}
.dropdownList1 ul.dropdown1 li a:hover {
  width: full;
  background: #402536;
}
.dropdownList1:hover ul.dropdown1 {
  display: block;
}

.swiper {
  width: 100%;
  font-family: 'Henri Didot';
  letter-spacing: 0.1em;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .swiper-slide h1 {
      font-size: 12px;
  }

  .swiper-slide p {
      display: none;
  }
}

@media (max-width: 1200px) {
  .swiper-slide h1 {
      font-size: 12px;
  }

  .swiper-slide p {
      display: none;
  }
}

.btn:active,
.btn:hover,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0;
}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
}
.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}
.btn-2::before {
    background-color: #3F2021;
    transition: 0.3s ease-out;
}

.btn-2 span {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn-2 span:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
}

.btn.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}

.btn.hover-slide-right:hover::before {
    width: 100%;
}
.star-icon {
  color: #3F2021;
  transition: color 0.3s ease;
  cursor: pointer;
}

.star-icon:hover {
  color: #FFD43B;
}
.swiperContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.swiperHeader {
    text-align: center;
    padding: 10px;
}

.swiperNav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.newContainerTitle{
  position : absolute;
  margin-left : 20px;
}

.swiperMain {
    display: flex;
    flex-direction: column;
}
.footerList li:hover{
  cursor: pointer;
  color: rgb(170, 21, 21);
  scale: 1.02;
  transition: ease .3s;
}

@media (max-width: 1000px) {
    .swiperContainer {
        width: 90%;
    }

    .swiperHeader {
        font-size: 18px;
    }

    .swiperNav {
        flex-direction: column;
        align-items: center;
    }

    .swiperMain {
        flex-direction: column;
    }

    .border-\[1px\] {
        width: 100%;
    }

    .w-\[415px\] {
        width: 100%;
    }

    .text-sm {
        font-size: 14px;
    }
    #animatedDiv {
        width: 100%;
        padding: 15px;
    }
}


@media (max-width: 1000px) {
  .mySwiper {
      width: 95%;
      height: 500px;
  }

  .innerContainer {
      height: 400px;
  }

  .innerContainer img {
      height: 400px;
  }

  .newContainer div:nth-child(2) {
      font-size: 14px;
  }

  .newContainer p {
      font-size: 12px;
  }

}


@media (max-width: 1000px) {
  .swiper-slide {
    width: 80% !important;
    height: 400px;
  }
  .card {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .swiper-slide h1 {
      font-size: 12px;
  }

  .swiper-slide p {
      display: none;
  }
}
@media (max-width: 1200px) {
  .swiper-slide h1 {
      font-size: 12px;
  }
  .swiper-slide p {
      display: none;
  }
}
@media screen and (max-width: 1527px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
  .mainImageContainer {
    grid-template-columns: 1fr;
  }
  .sideImageContainer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .sideImageContainer img{
    width: 100px;
    height: 130px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 100vw;
  }
  .mainImageContainer {
    grid-template-columns: 100vw;
  }
  .sideImageContainer {
    gap: 8px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    order: 1;
  }
  #infoContainer {
    padding: 4%;
  }
  .productGallaryContainer {
    margin-top: 1rem;
  }
}

